{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Enter one or more filters below. If one or more filters are specified, only results that match all will be shown. If no filters are specified, all results will be updated.</p>

<script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/jquery.validate.min.js') }}"></script>

<form id="myForm" action="/update" method="post" onsubmit="return confirm('Are you sure you want to update these records?');">

    <div style="float: left; width: 50%;">
        <h4>Old Record</h4>

        <label for="Month">Month (1-12):</label><br>
        <select id="Month_operator" name="Month_operator">
            <option value="eq">=</option>
            <option value="le"><=</option>
            <option value="ge">>=</option>
        </select>
        <input id="Month" name="Month" placeholder="1" type="number" min="1" max="12"/><br>

        <label for="usg_apt">The U.S. airport code (3 letters):</label><br>
        <input id="usg_apt" name="usg_apt" placeholder="SFO" type="text" minlength="3" maxlength="3"/><br>

        <label for="fg_apt">The foreign airport code (3 letters):</label><br>
        <input id="fg_apt" name="fg_apt" placeholder="TPE" type="text" minlength="3" maxlength="3"/><br>

        <label for="carrier">The airline carrier code (2-3 letters):</label><br>
        <input id="carrier" name="carrier" placeholder="BR" type="text" minlength="2" maxlength="3"/><br>

        <label for="type">The type of data:</label><br>
        <input id="type" name="type" placeholder="Passengers" type="text"/><br>

        <label for="Scheduled">Number of Passengers:</label><br>
        <select id="Scheduled_operator" name="Scheduled_operator">
            <option value="eq">=</option>
            <option value="le"><=</option>
            <option value="ge">>=</option>
        </select>
        <input id="Scheduled" name="Scheduled" placeholder="57801" type="number" min="0" digits="true" number="true" step="1"/><br>
    </div>

    <div style="float: right; width: 50%;">
        <h4>New Record</h4>

        <label for="new_Month">Month (1-12):</label><br>
        <input id="new_Month" name="new_Month" placeholder="1" type="number" min="1" max="12"/><br>

        <label for="new_usg_apt">The U.S. airport code (3 letters):</label><br>
        <input id="new_usg_apt" name="new_usg_apt" placeholder="SFO" type="text" minlength="3" maxlength="3"/><br>

        <label for="new_fg_apt">The foreign airport code (3 letters):</label><br>
        <input id="new_fg_apt" name="new_fg_apt" placeholder="TPE" type="text" minlength="3" maxlength="3"/><br>

        <label for="new_carrier">The airline carrier code (2-3 letters):</label><br>
        <input id="new_carrier" name="new_carrier" placeholder="BR" type="text" minlength="2" maxlength="3"/><br>

        <label for="new_type">The type of data:</label><br>
        <input id="new_type" name="new_type" placeholder="Passengers" type="text"/><br>

        <label for="new_Scheduled">Number of Passengers:</label><br>
        <input id="new_Scheduled" name="new_Scheduled" placeholder="57801" type="number" min="0" digits="true" number="true" step="1"/><br>

        <input id="Submit5" type="submit" value="Update"/>
    </div>

    <div style="clear: both;"></div>

</form>

<script>
    $("#myForm").validate({
        rules: {
            Scheduled: {
                number: true,
                step: 1
            }
        },
        messages: {
            Scheduled: {
                number: "Please enter a valid number",
                step: "Please enter an integer"
            }
        }
    });
</script>

{% for record in records %} <!-- 'records' matches with the variable name in render_template -->
<ul>
    <li>Month: {{ record['Month'] }}</li> <!-- Access dictionary values with record['key'] -->
    <li>U.S. airport code: {{ record['usg_apt'] }}</li>
    <li>Foreign airport code: {{ record['fg_apt'] }}</li>
    <li>Airline carrier code: {{ record['carrier'] }}</li>
    <li>Type of data: {{ record['type'] }}</li>
    <li>Number of passengers scheduled: {{ record['Scheduled'] }}</li>
</ul>
{% endfor %}

{% endblock %}